@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');


 *{
  
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* time lateral */
.timeProjetos a {
  font-size: large;
  color: white;
  font-weight: bold;
  position: relative;
  top: -38px;
  left: 75%;
  text-decoration: none;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}



/* gradiente fundo */
.timeProjetos {
  background-color: teal;
  height: 100px;
  align-content: space-around;
  
}


/* portiforio alunos */
.navAluno {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 50px;
  position: relative;
  /*! top: 3px; */
  left: -420px;
}

/*  titulo novotec fatec */
#titulo {
/*   position: relative; */
  text-align: center;
/*   top: -50px; */
}


/* imagem fatec */
.logofatec img {

  margin: auto;
  position: relative;
  top: -4px;
  left: 43%;

}

/* texto sobre a fatec */
h1 {
  text-align: center;
  font-size: 37px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

/* imagem professor */
.sobreEle img {
  display: block;
  margin: auto;
  border-radius: 50%;
  height: 200px;

}

.sobreEle p {
  text-align: center;
  position: relative;
  top: 10px;
  font-family: 'Poppins', sans-serif;
}

/* imagem leonardo */
.sobreleonardo img {
  display: block;
  margin: auto;
  border-radius: 50%;
  height: 200px; 
  text-align: justify;
  
  
}


/* lucas parte */
.sobrelucas img {
  display: block;
  margin: auto;
  position: relative;
  top: 5px;
  border-radius: 50%;
  height: 200px;
  
}



/* parte giovanna */
.Giovanna img {
  display: block;
  margin: auto;
  position: relative;
  top: 5px;
  border-radius: 50%;
  height: 210px;
}


/* parte maycon */
.mycon img {
  display: block;
  margin: auto;
  position: relative;
  top: 5px;
  border-radius: 50%;
  height: 200px;
}
.texto p {
  text-align: justify; 
  padding: 0px 40px;
} 

/* icone partes */

.icones img {

  height: 50px;
  width: 50px;
  display: initial;
  left: 45%;
  position: relative;
  top: 20px;

}

.icones:nth-child(2) {
  background: red;

}

.iconesLucas {
  height: 50px;
  width: 50px;
  display: initial;
  left: 45%;
  position: relative;
  top: 20px;
}



/* texto sobre */
p {
  text-align: center;
  position: relative;
  top: 10px;
  font-family: 'Poppins', sans-serif;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 50px auto;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  object-fit: fill;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  
  object-fit: fill;
}
.card .card_image a{
  width: inherit;
  height: inherit;
  border-radius: 40px;
}
.card .card_title {
  border-radius: 0px 0px 40px 40px;
  font-size: 22px;
  font-weight: bolder;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

.title-black {
  color: black;
  font-family: 'Anton', sans-serif;

}

.projetos {

  font-size: 25px;
  text-align: center;
  margin: 90px;

}
.projetosc p{
  text-align: justify;
  padding: 0px 40px;
}



.footer-distributed{
	background-color: teal;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
  overflow: hidden;
  float: unset;
  font-family: 'Source Code Pro', monospace;
}




/* Footer left */

.footer-distributed .footer-left{
  float: unset;

}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
font-size: 25px;
  margin: 0 0 10px;
  text-align: center;
}

.footer-distributed h3 span{
  color:  #5383d3;
  float: unset,
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
  margin: 0;
  float: unset;
}

@media (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  /* portiforio alunos */
  .navAluno {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 50px;
    position: relative;
    top: -3%;
    left: 1%;
  }

  /* time e projetos na lateral */
  .timeProjetos a {
    top: -10%;
    left: 32%;
  }


  /* imagem fatec */
  .logofatec img {
    margin: auto;
    position: relative;
    top: -10%;
    left: 25%;
  }

  .icones img {

    height: 50px;
    width: 50px;
    display: initial;
    left: 32%;
    position: relative;
    top: 20px;

  }
}


@media (max-width: 402px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  /* portiforio alunos */
  .navAluno {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 43px;
    
    position: relative;
    top: -11%;
    left: 1%;
   
  }

  /* time e projetos na lateral */
  .timeProjetos a {
    top: -10%;
    left: 32%;
  }


  /* imagem fatec */
  .logofatec img {
    margin: auto;
    position: relative;
    top: -4%;
    left: 21%;
  }

  .icones img {

    height: 50px;
    width: 50px;
    display: initial;
    left: 32%;
    position: relative;
    top: 20px;

  }

}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 800px) {

	.footer-distributed{
    padding: 30px;
  
	}

	.footer-distributed .footer-left{
		float: none;
		max-width: 300px;
		margin: 0 auto;
  }

}
